{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": ["^[^.]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
